[tool.poetry]
name = "eciespy"
packages = [
  {include = "ecies"},
]
version = "0.3.9"
# docs
authors = ["Weiliang Li <to.be.impressive@gmail.com>"]
description = "Elliptic Curve Integrated Encryption Scheme for secp256k1 in Python"
license = "MIT"
maintainers = ["Weiliang Li <to.be.impressive@gmail.com>"]
readme = "README.md"
repository = "https://github.com/ecies/py"
# tags
classifiers = [
  "Development Status :: 4 - Beta",
  "Intended Audience :: Developers",
  "Natural Language :: English",
  "Programming Language :: Python :: Implementation :: CPython",
  "Operating System :: OS Independent",
  "Topic :: Security :: Cryptography",
]
keywords = [
  "secp256k1",
  "crypto",
  "elliptic curves",
  "ecies",
  "bitcoin",
  "ethereum",
  "cryptocurrency",
]

[tool.poetry.dependencies]
python = "^3.6"
# 3rd party
coincurve = ">=13,<15"
eth-keys = "^0.3.3"
pycryptodome = "^3.9.9"

[tool.poetry.dev-dependencies]
black = {version = "^20.8b1", python = "^3.7"}
flake8 = "^3.8"
ipython = {version = "^7.20", python = "^3.7"}
mypy = "^0.800"

[tool.poetry.scripts]
eciespy = "ecies.__main__:main"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
