[tool.poetry]
name = "eciespy"
packages = [
  {include = "ecies"},
]
version = "0.4.1"
# docs
authors = ["Weiliang Li <to.be.impressive@gmail.com>"]
description = "Elliptic Curve Integrated Encryption Scheme for secp256k1 in Python"
license = "MIT"
maintainers = ["Weiliang Li <to.be.impressive@gmail.com>"]
readme = "README.md"
repository = "https://github.com/ecies/py"
# tags
classifiers = [
  "Development Status :: 4 - Beta",
  "Intended Audience :: Developers",
  "Natural Language :: English",
  "Programming Language :: Python :: Implementation :: CPython",
  "Operating System :: OS Independent",
  "Topic :: Security :: Cryptography",
]
keywords = [
  "secp256k1",
  "crypto",
  "elliptic curves",
  "ecies",
  "bitcoin",
  "ethereum",
  "cryptocurrency",
]
# package data
include = ["ecies/py.typed"]

[tool.poetry.dependencies]
python = "^3.8"

# 3rd party
coincurve = ">=13,<19"
eth-keys = ">=0.4,<0.6"
pycryptodome = "^3.18.0"

[tool.poetry.group.dev.dependencies]
black = {version = "^23.7", python = "^3.9"}
flake8 = {version = "^6.0.0", python = "^3.9"}
ipython = {version = "^8.14.0", python = "^3.9"}
mypy = "^1.5.0"
pytest = "^7.4.0"
pytest-cov = "^4.1.0"

[tool.poetry.scripts]
eciespy = "ecies.__main__:main"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.isort]
multi_line_output = 3
profile = "black"

[tool.pytest.ini_options]
addopts = "--doctest-modules"
