name: CD

on:
  release:
    types: [published]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install poetry
        run: pipx install poetry

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: poetry

      - name: Upload to pypi
        run: |
          poetry build
          poetry config repositories.testpypi https://test.pypi.org/legacy/
          poetry config pypi-token.testpypi "$TEST_PYPI_TOKEN"
          poetry config pypi-token.pypi "$PYPI_TOKEN"
          poetry publish --dry-run
          poetry publish --repository testpypi
          poetry publish
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
          TEST_PYPI_TOKEN: ${{ secrets.TEST_PYPI_TOKEN }}
